.list-main-container{
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/1280x1920/059be132a169b996b4b290af0326b1f3/photo-1664737061963-862d6a174a3b.jpg");
    height: 94vh;
    background-position: center;
    background-size: cover;
    padding: .6rem 1rem .6rem 1rem;
   
}
.eachlist-details{
    background-color: rgb(235, 248, 253);
    width: 270px;
    min-height: 120px;
    padding: .2rem .6rem .5rem .6rem;
    border-radius: 5px;
}
.list-container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
}
.list-input-card{
    height: 120px;
    width: 270px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: transparent;
    font-size: 1rem;
    color: black;
    padding: 5px;
    background-color: #ffffff;

}
.text-area-input{
    border: 2px solid skyblue;
    border-radius: 2px;
    outline: none;
    width: 90%;
    padding: .7rem;
}
.add-close-buttons{
    display: flex;
    align-items: center;
}
.add-button-card{
    padding: .6rem;
    border: none;
    background-color: rgb(108, 108, 249);
    color: #ffffff;
    font-weight: 600;
    border-radius: 3px;
}
.add-card-close{
    font-size: 2rem;
    border: none;
    background-color: transparent;
}
.add-list-button{
    background-color: transparent;
    height: 40px;
    width: 230px;
    color: #ffffff;
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 3px;
}
.list-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
