.checkItems{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.checkitem-checkbox{
    height: .9rem;
    width: .9rem;
}
.label-text-card{
    margin-left: .6rem;
    background-color: #e6f6ff;
    width: 80%;
    padding: .6rem;
    border-left: 4px solid #096f92;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item-input-text{
    width: 80%;
    height: 50px;
    border: 2px solid rgb(55, 134, 207);
    border-radius: 3px;
}
.checkItem-Add-btn{
    height: 30px;
    width: 80px;
    background-color: rgb(80, 143, 231);
    border: none;
    border-radius: 3px;
}
.checkItem-close-btn{
    height: 30px;
    width: 80px;
    background-color: rgb(198, 205, 204);
    border: none;
    border-radius: 3px;
    margin-left: 4px;
}
.add-checkItem-button{
    height: 36px;
    width: 120px;
    font-size: .9rem;
    background-color: rgb(230, 236, 236);
    border: none;
    padding: .5rem;
    font-weight: 500;
    border-radius: 2px;
    margin-top: 1rem;
    margin-left: 2rem;
}
.checkItem-input-container{
   margin-top: 1rem;
   margin-left: 2rem;
}
.isChecked{
    text-decoration:line-through;
}