.navbar-main-card{
    background-color: black;
    padding: .7rem 2rem .7rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:780px) {
    .navbar-main-card{
        background-color: black;
        padding: .7rem 2rem .7rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .search-input{
        display: none;
    }
    .options{
        display: none;
    }
    .options2{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .error-outline-icon{
        display: none;
    }
    .search-input2{
        display: block;
        columns: #ffffff;
    }
}
@media screen and (min-width:790px) {
    .options{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .options2{
        display: none;
    }
    .error-outline-icon{
        color: #ffffff; 
        margin-left: 12px;
        display: none;
    }
}
.icon{
    color: #ffffff;
    margin: 0px 6px 0px 6px;
    font-weight: 600;
    font-size: 1.3rem;
}
.nav-card-one{
    display: flex;
    align-items: center;
}
.options-text{
    color: #ffffff;
    align-items: center;
    margin: 0px 0px 6px 1.3rem;
}

.search-input{
    border: 1px solid gray;
    background-color: transparent;
    height: 28px;
    width: 150px;
    border-radius: 4px;
}
.user-profile{
    height: 30px;
    width: 30px;
    background-color: blue;
    margin-left: 8px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-input2{
  color: #ffffff;
  margin-right: -8px;
} 
